

/* .view-details {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
} */

/* .result-card {
    border-bottom: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
} */




/* 
.card-link h3 {
    margin: 0;
} */

/* .card-link p {
    margin: 0.5rem 0;
} */

/*  details page css */

.company-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.company-logo {
    max-width: 200px;
    margin-bottom: 20px;
}

.company-info p {
    margin: 5px 0;
}

.company-info a {
    color: blue;
    text-decoration: underline;
}
