<div class="footer-container">
    <div class="row">
        
        <div class="footer-col">
            <div class="social-link">
                <a href="https://www.facebook.com" target="_blank"><img src="./images/icons/img-facebook-icon.webp"
                        alt="facebook" loading="lazy"></a>
                <a href="https://www.twitter.com" target="_blank"><img src="./images/icons/img-twitter-icon.webp"
                        alt="twitter"></a>
                <a href="https://www.whatsapp.com" target="_blank"><img src="./images/icons/img-whatsapp-icon.webp"
                        alt="whatsapp"></a>

            </div>

        </div>

    </div>
</div>
